@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
   padding: 0;
   margin: 0;
   /* list-style: none; */
   box-sizing: border-box;
   text-decoration: none;
}



 body{
    font-family: 'open sans',sans-serif;
 }

 .banner-container{
    background-color: #CACACA;
 }

 .banner-column{
    background-color: #8D8D8D;
 }

 .navbar-container{
    top: 0;
    position: sticky;
    background-color: rgb(17, 26, 32);
    z-index: 2;
 }

 .bb{
    margin-left: 120px;
 }

 .about-container{
    background-color: rgb(119, 204, 204);
 }

 
 .education-description{
    background-color: rgb(17, 26, 32);
 }

 .box-shadow-container{
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.3);
 }

 .contact-description{
    background-color:rgb(17, 26, 32);
 }


.contact-box{
    display: inline;
    font-weight: bold;
}

.references-inner-text{
   text-align: justify;
}


.faculty-name{
    font-weight: bold;
}

.middle li{
   display: inline;
   padding: 0px 15px 0px 0px;
   font-size: 30px;
}

.middle li i{
  color:rgb(17, 26, 32); 
}

.footer-line{
   font-size: 13px;
}

.footer-line a{
   text-decoration: none;
   color:rgb(17, 26, 32); 
}

.btn-message
{
   background-color: rgb(17, 26, 32);
   color:white;
   padding: 5px 50px;
   margin-top: 20px;
   border: none;
   border-radius: 5px;
}

.cp-font
{
   font-size: 20px;
   font-weight: bold;
   padding: 20px 15px 0px;
   color:#85322e
}

.text-skill
{
   padding-left: 10px;
   font-weight: 500;
   font-size: 20px;
}

.logo-skill img
{
   margin-bottom: 15px;
}

.for-margin
{
   padding-left: 15px;
}

.text-cp
{
   padding-left: 15px;
   text-align: justify;
}

.basic-info
{
   font-size: 20px;
   margin: 10px;
}

.cp-text
{
   color:#85322e;
}

.cp-description
{
   font-size: 20px;
   font-weight:600;
}

.education-text
{
   opacity: 0.8;
}

.education-descrip
{
   padding: 20px 25px;
}

.education-info li
{
   font-size: 15px;
   padding-top: 10px;
   font-family: 'Roboto', sans-serif;
}


.cp-border
{
   border: 1px solid rgb(224, 219, 219);
}

.about-section ul li
{
   list-style: none;
}

.nav-text
{
   background-color: rgb(17, 26, 32);
}

.host-text
{
   display: inline;
   font-size: 13px;
   font-weight: bolder;
}

.host-name
{
   display: inline;
   color:#85322e;
   font-size: 1.3em;
}

.host-center
{
   text-align: center;
}

.team-name
{
   display: inline;
   font-size: 1em;
   color: #d41e1e;
}

.contest-descrip
{
   text-align: center;
   line-height: 1.3;
   font-weight: bolder;
}